@page
@model Yahooストア.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "削除";
}

<h1>削除</h1>

<h3>本当に削除しても良いですか。</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Thick)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Thick)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Vertical)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Vertical)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Lid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Lid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Header)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Header)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.YahooModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.YahooModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.FukuroinModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.FukuroinModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Product.Id" />
        <input type="submit" value="削除" class="btn btn-danger" /> |
        <a asp-page="Index" asp-route-SearchCategoryId="@Model.CategoryId">戻る</a>
    </form>
</div>
