@page
@model Yahooストア.Pages.Products.IndexModel

@{
    ViewData["Title"] = "商品一覧";
}

<h1>商品一覧</h1>

<form asp-page="Generate">
    <select asp-items="Model.Categories" name="CategoryName"></select>
    <input type="submit" value="クッションページ生成" class="col-2 btn btn-primary" />
</form>

<p>
    <a asp-page="Create">新規作成</a>
</p>
<table class="table" id="product">
    <thead>
        <tr>
            <th class="name">
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th class="thick">
                @Html.DisplayNameFor(model => model.Product[0].Thick)
            </th>
            <th class="size">
                @Html.DisplayNameFor(model => model.Product[0].Width)
            </th>
            <th class="size">
                @Html.DisplayNameFor(model => model.Product[0].Vertical)
            </th>
            <th class="size">
                @Html.DisplayNameFor(model => model.Product[0].Lid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].YahooModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].FukuroinModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.Raw(item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thick)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vertical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YahooModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FukuroinModel)
            </td>
            <td>
                @Html.Raw(item.Category.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">編集</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">詳細</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductId">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>

<link href="~/css/Products.css" rel="stylesheet" />