@page
@model Yahooストア.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "カテゴリ一覧";
}

<h1>カテゴリ一覧</h1>

<ul class="page-menu">
    <li><a asp-page="Create" class="btn btn-primary">新規作成</a></li>
    <li><a asp-page="Generate" class="btn btn-primary">サイドメニュー生成</a></li>
</ul>
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CategoryId">編集</a> |
                <a asp-page="./Details" asp-route-id="@item.CategoryId">詳細</a> |
                <a asp-page="./Delete" asp-route-id="@item.CategoryId">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>

<link href="~/css/Categories.css" rel="stylesheet" />